.catInfoBox {
    margin: 20px auto;
    border: 1px solid rgb(129, 129, 218);
    display: inline-block;
}

.infoBox {
    width: 700px;
    height: 700px;
    padding: 25px;
    background-color: rgba(58, 45, 45, 0.384);
    overflow-y: auto;
}