button{
    padding: 5px 10px;
    margin: 15px auto;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #363434;
    background-color: #7af9f7;
    border:none;
    box-shadow:inset 0 0 12px #5555558f;
}