.person{
    padding: 2rem;
    box-shadow:inset 0 0 15px #fff;
    box-sizing: border-box;
    width: 300px ;
    max-height: 85%;
    flex: 1;
}
.person ul{
    text-align: left;
    display: inline-block;
}

.person img{
    height:300px;
    max-width:250px;
    object-fit: cover;
    object-position: left;
    border-radius: 15px;
}